bin/*
*.idx
build*
src/textadventure/build/*
src/gui/build/*
src/gui/webserver/builder_tests.o
src/gui/webserver/game_builder.o
src/data/users/test*
src/gui/compile_commands.json
*EIG.txt
*dictionary.txt
*vgcore*
src/textadventure/logs/*
src/data/users/*/logs/*
src/data/users/**
!src/data/users/fux/files/world1/*
!src/data/users/fux/files/1918/*
