{% include "temp_header" %}

<div class="box_overview center_in_box">
  <h1>{{name}}</h1>
    <div class="object">
      <ul>

        <!-- Name and ID (default value for non-set-values -->
        <li><label>Name:</label> <input id="name" value="{{ default(name, "") }}">
        <li><label>Id:</label> <input id="id" value="{{ default(id, "") }}">

        <!-- Description (added by include) expand non-set optional values -->
        <li><label>Description:</label> 
          {% include "temp_description" %}
        </li>

        <!-- Exits (default value for non-set-values) -->
        <li><label>Exits:</label>
          <ul id="exits">
            {% for key, val in default(exits, {"": {}}) %}
              <li>
                <input placeholder="linked_room id" value="{{ key }}">
                <input placeholder="name" value="{{ default(val.name, "") }}">
                <input placeholder="preposition"style="width: 4em;"value="{{default(val.prep,"")}}">
                <span class="del_elem" onclick="del_elem('exits', '{{loop.index}}')">-</span>
              {% if loop.is_last == true %}
                <span class="add_elem" onclick="add_elem2('exits', '{{loop.index}}')">+</span>
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </li>

        <!-- Characters (default value for non-set-values) -->
        <li><label>Characters:</label>
          <ul id="characters">
            {% for char in default(characters, [["", {}]]) %}
              <li>
                <input placeholder="character id" value={{char.0}}>
                <input placeholder="custom attributes" value={{char.1}}>
                {% if loop.is_last == true %}
                  <span class="add_elem" onclick="add_elem1('characters')">+</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </li>
          
        <!-- Details (default value for non-set-values) -->
        <li><label>Details:</label>
          <ul id="details">
            {% for detail in default(details, [["", {}]]) %}
              <li>
                <input placeholder="detail id" value={{detail.0}}>
                <input placeholder="custom attributes" value={{detail.1}}>
                {% if loop.is_last == true %}
                  <span class="add_elem" onclick="add_elem1('details')">+</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </li>

        <!-- Items (default value for non-set-values) -->
        <li><label>Items:</label>
          <ul id="items">
            {% for item in default(items, [["", {}]]) %}
              <li>
                <input placeholder="item id" value={{item.0}}>
                <input placeholder="custom attributes" value={{item.1}}>
                {% if loop.is_last == true %}
                  <span class="add_elem" onclick="add_elem1('items')">+</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </li>
        
        <!-- Handlers (default value for non-set-values) -->
        <li><label>Handlers:</label>
          <ul id="handlers">
            {% for handler in default(handlers, [{}]) %}
              <li>
                <input id="id" placeholder="function" value="{{default(handler.id, "")}}">
                <input id="id" placeholder="command" value="{{default(handler.string, "")}}">
                <input id="id" placeholder="priority" style="width: 3em;" 
                    value="{{default(handler.priority, 0)}}">
                {% if loop.is_last == true %}
                <span class="add_elem" onclick="add_elem2('handlers')">+</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
</div>
