
.object ul{
  text-align: left;
}
.object li{
  margin-bottom: 0.2em;
}
.object a{
  width: 5em;
  display:inline-block;
}
.object input{
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  border: none;
  border-radius: 5px;
  text-align:center;
}

.object textarea{
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  text-align: left;
  border-radius: 5px;
  border: none;
  width: 40em;
  height: 5em;
  font-size: 0.7em;
}
.small {
  width: 32em;
  font-size: 0.7em;
}

