<ul id="description">
  {% if exists("description") == true %}
  {% for i in range(length(description)) %}
  {% set desc=at(description, i) %}
    <li>
      <ul id="description_{{i}}">
      <li><label>Speaker:</label> 
        <input id="speaker" value="{{at(description, i).speaker}}"></li>
      <li><label>Text:</label><br>
        <textarea id="text">{{desc.text}}</textarea></li>
      {% if existsIn(desc, "logic") == true %}
      <li class="full_length" id="optional"><label>Logic:</label>
        <input id="logic" value="{{desc.logic}}"></li>
      {% else %}
      <li class="full_length" id="optional" style="display: none"><label>Logic:</label>
        <input id="logic" placeholder="logical expression"></li>
      {% endif %}
      {% if existsIn(desc, "post_pEvents") == true %}
      <li id="optional"><label style="width: auto;">Post pEvents:</label>
        <ul id="post_ptEvents">
        {% for event in desc.post_pEvents %}
          <li><input value="{{event}}"></li>
        {% endfor %}
        </ul>
      </li>
      {% else %}
      <li id="optional" style="display: none"><label style="width: auto;">Post pEvents:</label>
        <ul id="post_ptEvents">
          <li><input placeholder="event"></li>
        </ul>
      </li>
      {% endif %}
      {% if existsIn(desc, "post_otEvents") == true %}
      <li id="optional"><label style="width: auto;" >Post otEvents:</label>
        <ul id="post_otEvents">
        {% for event in desc.post_otEvents %}
          <li><input value="{{event}}"></li>
        {% endfor %}
        </ul>
      </li>
      {% else %}
      <li id="optional"style="display: none"><label style="width: auto;">Post otEvents:</label>
        <ul id="post_otEvents">
          <li><input placeholder="event"></li>
        </ul>
      </li>
      {% endif %}
      {% if existsIn(desc, "pre_pEvents") == true %}
      <li id="optional"><label style="width: auto;">Pre pEvents:</label>
        <ul id="pre_pEvents">
        {% for event in desc.pre_pEvents %}
          <li><input value="{{event}}"></li>
        {% endfor %}
        </ul>
      </li>
      {% else %}
      <li id="optional"style="display: none"><label style="width: auto;">Pre pEvents:</label>
        <ul id="pre_pEvents">
          <li><input placeholder="event"></li>
        </ul>
      </li>
      {% endif %}
      {% if existsIn(desc, "pre_otEvents") == true %}
      <li id="optional"><label style="width: auto;">Pre otEvents:</label>
        <ul id="pre_otEvents">
        {% for event in desc.pre_otEvents %}
          <li><input value="{{event}}"></li>
        {% endfor %}
        </ul>
      </li>
      {% else %}
      <li id="optional"style="display: none"><label style="width: auto;">Pre otEvents:</label>
        <ul id="pre_otEvents">
          <li><input placeholder="event"></li>
        </ul>
      </li>
      {% endif %}
    </ul>
    </li>
    <div id="text_expand" class="expand">
      <span class="fas fa-caret-down" onclick="expand('description_{{i}}')">
    </div>
  {% endfor %}

  {% else %}
    <li>
    <ul>
      <li><label>Speaker:</label> 
        <input id="speaker" placeholder="speaker"></li>
      <li><label>Text:</label>
        <textarea id="text"></textarea></li>
    </ul>
    </li>
  {% endif %}
</ul>

