
<li 
  {% if default(_not_optional, false) == false %}
    id="optional" style="display: none;" 
  {% endif %}
  custom="list"
>

	<label style="width:auto;">{{default(_id, "updates")}}:</label>
	<ul id="{{default(_id, "updates")}}">
    {% if length(_updates) > 0 %} 
			{% for update in _updates %}
				<li custom="get:object">
					<a class="abstract" onclick="EditItem('{{default(_id, "updates")}}', this.parentNode)" title='{{update}}'>
						{{update.id}} {{update.mod_type}} {{update.value}}
						{% if default(update.attribute, "") != "" %}
              * {{update.attribute}}
            {% endif %}
						{% if default(update.tmp, 0) == 1 %}
							({{update.steps}} step(s) every {{update.secs}} seconds)
						{% endif %}
					</a>
					<span 
						class="mod_elem" onclick="EditItem('{{default(_id, "updates")}}', this.parentNode)"
					><i>edit</i></span>
					<span 
						class="mod_elem" onclick="DeleteItem('{{default(_id, "updates")}}', this.parentNode)" title="delete element"
					>-</span>
					<span 
						class="mod_elem" onclick="AddItem('{{default(_id, "updates")}}', this.parentNode)" title="add element"
					>+</span>
					<input style="display: none;" custom="json" value='{{update}}'/>
				</li>
			{% endfor %}
		{% else %}
      <li custom="get:object">
        <a class="abstract" onclick="EditItem('{{default(_id, "updates")}}', this.parentNode)" title='{}'>
          ???
        </a>
        <span class="mod_elem" onclick="EditItem('{{default(_id, "updates")}}', this.parentNode)"><i>edit</i></span>
        <span class="mod_elem" onclick="DeleteItem('{{default(_id, "updates")}}', this.parentNode)" title="delete element">-</span>
        <span class="mod_elem" onclick="AddItem('{{default(_id, "updates")}}', this.parentNode)" title="add element">+</span>
        <input style="display: none;" custom="json" value="{}" />
      </li>
		{% endif %}
	</ul>
</li>

{{ log("creating default update") }}
<li custom="get:object" id="updates_default" style="display: none;">
  <a class="abstract" onclick="EditItem('{{default(_id, "updates")}}', this.parentNode)" title='{}'>
    ???
  </a>
  <span class="mod_elem" onclick="EditItem('{{default(_id, "updates")}}', this.parentNode)"><i>edit</i></span>
  <span class="mod_elem" onclick="DeleteItem('{{default(_id, "updates")}}', this.parentNode)" title="delete element">-</span>
  <span class="mod_elem" onclick="AddItem('{{default(_id, "updates")}}', this.parentNode)" title="add element">+</span>
  <input style="display: none;" custom="json" value="{}" />
</li>
{{ log("done creating default update") }}
