{% include "temp_header" %}

  {{ log("rendered header") }}

  <li><label>Name:</label><input id="name" value="{{ default(name, "") }}"></li>
  <li><label>ID:</label><input id="id" value="{{ default(id, "") }}"></li>

  {{ log("rendered name+id") }}

  <li>
    <label class="long_lbl">description:</label>
    <input class="long_inp" id="description" 
        value="{{ default(description, "") }}">
  </li>

  {{ log("rendered description") }}

  <li><label class="long_lbl">Output:</label>
    <input class="long_inp" id="output" value="{{ default(output, "")
    }}">
  </li>

  {{ log("rendered output") }}

  {% set _not_optional = true %}
  {% set _updates = default(updates, []) %}
  {% include "web/element_templates/updates" %}
  {% set _not_optional = false %}

  {{ log("rendered updates") }}

{% include "temp_footer" %}
