{% include "temp_header" %}
  
  {{log("rendered header") }}  

  <!-- Name and ID (default value for non-set-values) -->
  <li><label>Name:</label><input id="name" value="{{ default(name, "") }}">
  <li><label>Id:</label><input id="id" value="{{ default(id, "") }}">

  <!-- Music and image for this object (default value for non-set-values -->
  <li>
    <label>music:</label>
    <input id="music" placeholder="music" title="no fileextension!" 
        value="{{ default(music, "") }}">
  </li>
  <li>
    <label>image:</label>
    <input id="image" placeholder="image" title="no fileextension!" 
        value="{{ default(image, "") }}">
  </li>
  {{ log("rendered name,id, image and music") }}


  <!-- Description (added by include) expand non-set optional values -->
  <li custom="list">
    <label title="Description printed, when character is viewed.">Description:</label> 
    {% include "temp_description" %}
  </li>

  {{log("rendered description") }}  
  
  <!-- Room Description (added by include) expand non-set optional values -->
  <li custom="list">
    <label title="Description added to the room-description when room is viewed">
      Room Description:</label> 
    {% include "temp_room_description" %}
  </li>

  {{log("rendered room_description") }}  
  <!-- Dead Description (added by include) expand non-set optional values -->
  <li custom="list">
    <label title="Description printed when character dies/faints">Dead Description:</label> 
    {% include "temp_dead_description" %}
  </li>

  {{log("rendered dead_description") }}  

  <!-- Attributes like (hp, money, experience etc. -->
  <li><label>HP:</label>
    <input id="hp" custom="int" value="{{ default(hp, 10) }}"></li>
  <li><label>Strength:</label>
    <input id="strength" custom="int" value="{{ default(strength, 10) }}"></li>
  <li><label>EP:</label>
    <input id="hp" custom="int" value="{{ default(ep, 10) }}"></li>

  <!-- Others (default value for non-set-values) -->
  <li>
    <label title="Characters faints, instead to die instantly.">Faint</label>
    {% if default(faint, 1) == 1) %} 
    <input id="faint" custom="bool" value="yes">
    {% else %} 
    <input id="faint" custom="bool" value="no"> 
    {% endif %}
  </li>

  {{log("rendered attributes") }}  

  <!-- Items (default value for non-set-values) -->
  <li custom="list">
    <label>Items:</label>
    <ul id="items">
      {% for item in default(items, [["", {}]]) %}
        <li custom="list">
          <input placeholder="item id" value={{item.0}}>
          <input custom="json" placeholder="custom attributes" value={{item.1}}>
          <span class="mod_elem" onclick="del_elem('items',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('items',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>

  {{log("rendered items") }}  
  
  <!-- Attacks (default value for non-set-values) -->
  <li custom="list">
    <label>Attacks:</label>
    <ul id="attacks">
      {% for key in default(attacks, [""]) %}
        <li>
          <input placeholder="id" value="{{default(key, "")}}">
          <span class="mod_elem" onclick="del_elem('attacks',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('attacks',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>
  
  {{log("rendered attacks") }}  

  <!-- Listeners (default value for non-set-values) -->
  <li custom="list">
    <label>Handlers:</label>
    <ul id="listeners">
      {% for listener in default(listeners, [{}]) %}
        <li custom="object">
          <label class="small" title="unique identifier (used for deleteting listener)">ID:</label>
          <input id="id" placeholder="id" value="{{default(listener.id,"")}}" >
          <br>
          <label class="small" title="handler called when listener is triggered">Handler::</label>
          <input id="handler" placeholder="handler" value="{{default(listener.handler,"")}}">
          <br>
          <label class="small" title="Attributes needed to to trigger event (seperated with '|').
              See doku for which attributes or needed for specific events."
            >Attributes: </label>
          <input 
            class="long_inp" id="event_attributes" placeholder="event attributes" 
            value="{{default(listener.event_attributes,"")}}"
          >
          <br>
          <label class="small" title="Command on which to listen">Command</label>
          <input id="cmd" placeholder="command" value="{{default(listener.cmd, "")}}">
          <label class="small" title="Target of event f.e. for input 'pick up
                fruits', <pick> is the command and <fruits> is the target." 
            >Target</label>
          <input id="target" placeholder="target" value="{{default(listener.target,"")}}">
          <br>
          <label class="small" title="Specify priority">Priority</label>
          <input 
              class="short" id="priority" placeholder="priority" 
              custom="int" value="{{default(listener.priority, 0)}}"
          >
          <label class="small" title="Overwrite context/handler permeability.">Permeable</label>
          <input 
              class="short" id="permeable" placeholder="permeable" 
              custom="int" value="{{default(listener.permeable, -1)}}"
          >
          <label class="small" title="Delete listener after trigger.">Auto Delete</label>
          <input 
              class="short" id="delete" placeholder="delete" 
              custom="int" value="{{default(listener.delete, 0)}}"
          >
          <br>
          <label class="small" title="Specify regex match">Regex match position</label>
          <input 
              class="short" id="pos" placeholder="pos" 
              custom="int" value="{{default(listener.pos, 0)}}"
          >
          <label class="small" title="interpret command as regex expression.">Regex?</label>
          <input 
              class="short" id="regex" placeholder="regex?" 
              custom="int" value="{{default(listener.regex, 0)}}"
          >
          <span class="mod_elem" onclick="del_elem('listeners',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('listeners',{{loop.index}})">+</span>
          <br>
          <br>
        </li>
      {% endfor %}
    </ul>
  </li>

  {{log("rendered listeners") }}  

  <!-- Default dialogs/ descriptions -->
  <li>
    <label title="only needed when no description is given. Loads a random
      description from selected default descriptions" style="margin-right:3em;"
      >Default Description:</label>
    <input id="defaultDescription" placeholder="default description" 
      value="{{ default(defaultDescription, "") }}"></li>
  <li>
    <label title="only needed when no dialog is created. Loads a random
      dialog from selected default dialogs" style="margin-right:3em;"
      >Default Dialog:</label>
    <input id="defaultDialog" placeholder="default dialog" 
      value="{{ default(defaultDialog, "") }}"></li>

  {{log("rendered defaultDialog + descriptions") }}  

{% include "temp_footer" %}
