{% include "temp_header" %}
  
  {{log("rendered header") }}  

  <!-- Name and ID (default value for non-set-values) -->
  <li><label>Name:</label><input id="name" value="{{ default(name, "") }}">
  <li><label>Id:</label><input id="id" value="{{ default(id, "") }}">

  <!-- Music and image for this object (default value for non-set-values -->
  <li>
    <label>music:</label>
    <input id="music" placeholder="music" title="no fileextension!" 
        value="{{ default(music, "") }}">
  </li>
  <li>
    <label>image:</label>
    <input id="image" placeholder="image" title="no fileextension!" 
        value="{{ default(image, "") }}">
  </li>

  <li>
    <label>color:</label>
		<select id="color" autocomplete="off"> 
			{% for c in _colors %} 
				<option {%- if default(color, "white") == c -%}selected{%- endif -%}>{{c}}</option>
			{% endfor %}
		</select>
  </li>

  {{ log("rendered name,id, image and music") }}


  <!-- Description (added by include) expand non-set optional values -->
  <li custom="list">
    <label title="Description printed, when character is viewed.">Description:</label> 
    {% include "temp_description" %}
  </li>

  {{log("rendered description") }}  
  
  <!-- Room Description (added by include) expand non-set optional values -->
  <li custom="list">
    <label title="Description added to the room-description when room is viewed">
      Room Description:</label> 
    {% include "temp_room_description" %}
  </li>

  {{log("rendered room_description") }}  
  <!-- Dead Description (added by include) expand non-set optional values -->
  <li custom="list">
    <label title="Description printed when character dies/faints">Dead Description:</label> 
    {% include "temp_dead_description" %}
  </li>

  {{log("rendered dead_description") }}  

  <!-- Attributes like (hp, money, experience etc. -->
 	<li custom="map">
    <label 
			title="Attributes and status, depending on what is defined in the corresponding config section"
		>Attributes</label>
		<ul id="attributes">
			{% for attr in __full_attributes %} 
				<li custom="key_value">
					<label style="width: 8rem;" >{{attr.name}}:</label>
					<input 
						id="{{attr.id}}" class="short" type="number" custom="int"
						{% if exists("attributes") and existsIn(attributes, attr.id) %}
							{% for attribute, value in attributes %}
								{% if attribute == attr.id %} 
									value={{value}}
								{% endif %} 
							{% endfor %} 
						{% else %}
							value={{attr.default_value}}
						{% endif %}
						>
				</li>
			{% endfor%} 
		</ul>
	</li>
 
  <!-- Others (default value for non-set-values) -->
  <li>
    <label title="Characters faints, instead to die instantly.">Faint</label>
		<input 
				id="faint" type="checkbox" custom="bool"
        {% if default(faint, 0) %} checked {% endif %}
		</input>
  </li>

  {{log("rendered attributes") }}  

  <!-- Items (default value for non-set-values) -->
  <li custom="list">
    <label>Items:</label>
    <ul id="items">
      {% for item in default(items, [["", {}]]) %}
        <li custom="list">
          <input placeholder="item id" localize="false" value={{item.0}}>
          <input custom="json" placeholder="custom attributes" value={{item.1}}>
          <span class="mod_elem" onclick="del_elem('items',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('items',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>

  {{log("rendered items") }}  
  
  <!-- Attacks (default value for non-set-values) -->
  <li custom="list">
    <label>Attacks:</label>
    <ul id="attacks">
      {% for key in default(attacks, [""]) %}
        <li>
          <input placeholder="attack id" value="{{default(key, "")}}">
          <span class="mod_elem" onclick="del_elem('attacks',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('attacks',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>
  
  {{log("rendered attacks") }}  

  {% set _not_optional = true %}
  {% set _updates = default(updates, []) %}
  {% include "web/element_templates/updates" %}
  {% set _not_optional = false %}

  <!-- Listeners (default value for non-set-values) -->
  {% include "web/element_templates/listeners" %}

  {{log("rendered listeners") }}  

  <!-- Default dialogs/ descriptions -->
  <li>
    <label title="only needed when no description is given. Loads a random
      description from selected default descriptions" style="margin-right:3em;"
      >Default Description:</label>
    <input id="defaultDescription" placeholder="default description" 
      value="{{ default(defaultDescription, "") }}"></li>
  <li>
    <label title="only needed when no dialog is created. Loads a random
      dialog from selected default dialogs" style="margin-right:3em;"
      >Default Dialog:</label>
    <input id="defaultDialog" placeholder="default dialog" 
      value="{{ default(defaultDialog, "") }}"></li>

  {{log("rendered defaultDialog + descriptions") }}  

{% include "temp_footer" %}
