{% include "temp_header" %}
{{ log("rendered header") }}

    <li custom="list">
     <label title="You may map a custom command to an existing one. F.e.
                   in case you're gaming is not in english, mapping a
                   german equivalent to the english command is userfull.
                   All command are regex expressions. f.e. show me (.*).
                   The original standard will remain available.">
    Help (standard):
     </label>
     <ul id="standard">
       {% if length(content) == 0 %}
          <li custom="object">
             <label>Id</label>
             <input id="id" placeholder="identifier" value="">
             <br>
             <label>Text</label>
             <textarea id="txt" placeholder="Help text" value=""></textarea>
						 <br>
             <label>Active</label>
             <input 
								id="active" type="checkbox" title="Whether active from beginning"
								custom="bool" checkedo
						 >
             <span class="mod_elem" onclick="del_elem('standard',1)">-</span>
             <span class="mod_elem" onclick="add_elem('standard',1})">+</span>
           </li>

       {% else %}
         {% for help in default(content, [{}]) %}
           <li custom="object">
             <label>Id</label>
             <input id="id" placeholder="identifier" value="{{ default(help.id, "") }}">
             <br>
             <label>Text</label>
             <textarea id="txt" placeholder="Help text">{{ default(help.txt, "") }}</textarea>
						 <br>
             <label>Active</label>
             <input 
						 		id="active" type="checkbox" title="Whether active from beginning" custom="bool" 
								{%- if default(help.active, 1) -%}checked{%- endif -%}
							>
             <span class="mod_elem" onclick="del_elem('standard',{{loop.index}})">-</span>
             <span class="mod_elem" onclick="add_elem('standard',{{loop.index}})">+</span>
           </li>
         {% endfor %}
       {% endif %}
     </ul>
   </li>

   {{ log("rendered standard") }}



{% include "temp_footer" %}
