<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Game*Creator - Config</title>

    <link href="/favicon.png" rel="icon" type="image/png"/>

    <!-- <link rel="stylesheet", href="bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/web/general.css" rel="stylesheet">
    <link href="/web/object.css" rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='/web/run.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='/web/object.js'></script>
    <script src="/web/fuzzy_finder.js"></script>

</head>

<body>
<nav aria-label="breadcrumb">
    <ol class=breadcrumb>
        <li class="breadcrumb-item"><a href="/">GrowControl</a></li>
        <li class="breadcrumb-item"><a href="/login">Login</a></li>
        <li class="breadcrumb-item"><a href="/overview">Overview</a></li>
        <li class="breadcrumb-item">
          <a href="/{{header.user}}/files/{{header.world}}">
            {{header.world}}
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><a>Config</a></li>
    </ol>
</nav>

<div id="fuzzy_finder_div" class="fuzzy_finder" pages={{header.pages}}>
  <div class="fuzzy_finder_center">
    <label style="color:#1fe921;">files: </label><input id="fuzzy_finder_inp">
    <ol id="fuzzy_finder_elems" class="fuzzy_finder_elems">
  </div>
</div>

<div class="top_right">
  <img class="top_right_image" src="/web/logo.png">
  <br>
  <p class="fuzzy_finder_focused" 
    title="Fuzzy finder active. Press any key to fuzzy search for pages/files/objects">
      fuzzy_finder
  </p>
</div>


{{ log("rendered header") }}

<div class="box_overview center_in_box">
    <h1>Config</h1>
      <div class="object">
        <ul id="object">

          <li custom="map">
            <label title="Select, who is speaking, when a story elemt, a
                          description, an error or a technical aspect is
                          printed. Select \"\" if no speaker-type is wanted.">
              Printing:
            </label>
            <ul id="printing">
              {% for key, val in default(printing, {"":""}) %}
                <li custom="pair">
                  <input id="id" placeholder="what" value="{{ key }}">
                  <input id="name" placeholder="name" value="{{ val }}">
                  <span class="mod_elem" onclick="del_elem('printing',{{loop.index}})">-</span>
                  <span class="mod_elem" onclick="add_elem('printing',{{loop.index}})">+</span>
                </li>
              {% endfor %}
            </ul>
          </li>

          {{ log("rendered printing") }}

          <li custom="map">
            <label title="Select how showing characters, items, details, exits
                          etc. is framed.">
              Show:
            </label>
            <ul id="show">
              {% for key, val in default(show, {"":[]}) %}
                <li custom="key_list">
                  <input id="id" placeholder="what" value="{{ key }}">
                  <input id="desc" class="long_inp" placeholder="pre" value="{{ val.0 }}">
                  <input id="error" placeholder="nothing" value="{{ val.1 }}">
                  <span class="mod_elem" onclick="del_elem('show',{{loop.index}})">-</span>
                  <span class="mod_elem" onclick="add_elem('show',{{loop.index}})">+</span>
                </li>
              {% endfor %}
            </ul>
          </li>

          {{ log("rendered show") }}

          <li custom="list">
            <label title="Add minds. The concept of minds is explained here:
                           ... . You may set no minds at all">
              Minds:
            </label>
            <ul id="minds">
              {% for mind in default(minds, {"":[]}) %}
                <li custom="object">
                  <input id="id" placeholder="id" value="{{ mind.id }}">
                  <input id="color" placeholder="color" value="{{ mind.color }}">
                  <input id="level" custom="int" placeholder="level" value="{{ mind.level}}">
                  <input id="relevance" custom="float" placeholder="relevance" value="{{
                  mind.relevance }}">
                  <span class="mod_elem" onclick="del_elem('minds',{{loop.index}})">-</span>
                  <span class="mod_elem" onclick="add_elem('minds',{{loop.index}})">+</span>
                </li>
              {% endfor %}
            </ul>
          </li>

          {{ log("rendered minds") }}

          <li custom="list">
            <label title="You may map a custom command to an existing one. F.e.
                          in case you're gaming is not in english, mapping a
                          german equivalent to the english command is userfull.
                          All command are regex expressions. f.e. show me (.*).
                          The original commands will remain available.">
              Commands:
            </label>
            <ul id="commands">
              {% for cmd in default(commands, {"":[]}) %}
                <li custom="object">
                  <input id="id" placeholder="original" value="{{ cmd.id }}">
                  <input class="long_inp" id="regex" placeholder="new command" 
                             value="{{ cmd.regex }}">
                  <input id="take" title="Optional argument to tell game which
                             regex match shall be user." placeholder="new command" 
                             custom="int" value="{{ default(cmd.take, 1) }}">
                  <span class="mod_elem" onclick="del_elem('commands',{{loop.index}})">-</span>
                  <span class="mod_elem" onclick="add_elem('commands',{{loop.index}})">+</span>
                </li>
              {% endfor %}
            </ul>
          </li>

          {{ log("rendered commands") }}

          <li custom="map">
            <label title="Add standard fields for newly created players">
              New Players:
            </label>
            <ul id="new_player">
              {% for key, val in default(new_player, {"":""}) %}
                <li custom="pair">
                  <input id="id" placeholder="what" value="{{ key }}">
                  <input id="name" placeholder="name" value="{{ val }}">
                  <span class="mod_elem" onclick="del_elem('printing',{{loop.index}})">-</span>
                  <span class="mod_elem" onclick="add_elem('printing',{{loop.index}})">+</span>
                </li>
              {% endfor %}
            </ul>
          </li>

          {{ log("rendered players") }}

        </ul>
        <button id="write" class="pure-button" 
        onclick="OpenWriteModal('config')">Write</button>
    </div>

    <div id="modal_write" class="modal">
      <div class="modal2-content">
        <span class="close" id="close_modal" onclick="CloseWriteModul()">&times;</span>
        <div class="content_center">
          <div class="item"><p id="check_msg" elem_json=""></div>
          <div class="scroll_content">
            <div class="item" style="text-align: left;"><pre id="display_json"></div>
          </div>
          <div class="item"><button type="button" class="pure-button" id="btn_del_elem"
                                     onclick="WriteElem(true)">Confirm</button></div>
          <br>
        </div>
      </div>
    </div>

    
    <div id="modal_log" class="modal">
      <div class="modal2-content">
        <span class="close" id="close_modal" onclick="CloseModul()">&times;</span>
        <div class="content_center">
          <div class="item"><p id="check_msg_log"></div>
          <div class="scroll_content" id="log_div">
            <div class="item" style="text-align: left;"><pre id="display_log"></div>
          </div>
          <div class="item"><button type="button" class="pure-button" id="get_log"
                                     onclick="get_log('write')">Show Log</button></div>
          <br>
          <div class="item">
              <button type="button" 
                      class="pure-button"
                      id="force_write" 
                      style="display: none"
                      onclick="WriteElem(true, true)">
                   Force 
              </button>
          </div>
        </div>
    </div>
</body>
