{% include "temp_header" %}
{{ log("rendered header") }}

  <li custom="map">
     <label title="Add minds. The concept of minds is explained here:
                    ... . You may set no minds at all">
      Attribute Mapping:
     </label>
     <ul id="mapAttributes">
       {% if length(content) == 0 %}
          <li custom="pair">
             <label>Attribute:</label>
             <input placeholder="attribue" value="">
             <br>
             <label>Mapping:</label>
             <input class="long_inp" custom="json" placeholder="mapping" value="">
             <br>
             <span class="mod_elem" onclick="del_elem('mapAttributes',1)">-</span>
             <span class="mod_elem" onclick="add_elem('mapAttributes',1)">+</span>
           </li>

       {% else %}
         {% for key, value in default(content, {"":""}) %}
           <li custom="pair">
             <label>Attribute:</label>
             <input placeholder="attribue" value="{{default(key, "")}}">
             <br>
             <label>Mapping:</label>
             <input class="long_inp" custom="json" placeholder="mapping" value={{default(value, "")}}>
             <br>
             <span class="mod_elem" onclick="del_elem('mapAttributes',{{loop.index}})">-</span>
             <span class="mod_elem" onclick="add_elem('mapAttributes',{{loop.index}})">+</span>
           </li>
         {% endfor %}
       {% endif %}
     </ul>
   </li>

   {{ log("rendered minds") }}

{% include "temp_footer" %}
