{% include "temp_header" %}
{{ log("rendered header") }}

  <li custom="map">
     <label title="When showing all chars, exits etc. a string is added before
       (pre) and after (post) the list of elements, these can be set here.">
      Show mapping
     </label>
     <ul id="show">
       {% if length(content) == 0 %}
           <li custom="pair">
             <label title="type might be 'chars' or 'exits'" >Type:</label>
             <input placeholder="type" value=""")}}">
             <br>
             <label title="Json dictionary, with attribte 'pre', 'post' and 'also' (optional)">
               Mapping:
             </label>
             <input class="long_inp" custom="json" placeholder="mapping" value=''>
             <br>
             <span class="mod_elem" onclick="del_elem('show', 1)">-</span>
             <span class="mod_elem" onclick="add_elem('show', 1)">+</span>
           </li>

       {% else %}

         {% for key, value in default(content, {"":""}) %}
           <li custom="pair">
             <label title="type might be 'chars' or 'exits'" >Type:</label>
             <input placeholder="type" value="{{default(key, "")}}">
             <br>
             <label title="Json dictionary, with attribte 'pre', 'post' and 'also' (optional)">
               Mapping:
             </label>
             <input class="long_inp" custom="json" placeholder="mapping" value='{{default(value, "")}}'>
             <br>
             <span class="mod_elem" onclick="del_elem('show', {{loop.index}})">-</span>
             <span class="mod_elem" onclick="add_elem('show', {{loop.index}})">+</span>
           </li>
         {% endfor %}

       {% endif %}
     </ul>
   </li>

   {{ log("rendered show") }}

{% include "temp_footer" %}
