{% include "temp_header" %}
{{ log("rendered header") }}

    <li custom="list">
     <label title="You may add new categories here.">
    Categories (for items):
     </label>
     <ul id="categories">
       {% if length(content) == 0 %}
          <li>
             <input id="id" placeholder="new category" value="">
             <span class="mod_elem" onclick="del_elem('categories',1)">-</span>
             <span class="mod_elem" onclick="add_elem('categories',1)">+</span>
          </li>

       {% else %}
         {% for attr in default(content, []) %}
           <li>
             <input id="id" placeholder="original" value="{{ attr }}">
             <span class="mod_elem" onclick="del_elem('categories',{{loop.index}})">-</span>
             <span class="mod_elem" onclick="add_elem('categories',{{loop.index}})">+</span>
           </li>
         {% endfor %}
       {% endif %}
     </ul>
   </li>

   {{ log("rendered categories") }}

{% include "temp_footer" %}
