{% include "temp_header" %}
{{ log("rendered header") }}

    <li custom="list">
     <label title="You may add custom attributes. Attributes always map 
                   On an integer value. You may also define attribute 
                   mapping (mapAttributes), the to map certain values to 
                   strings. f.e. if 'smoker' is and attribute and 
                   {'1':'smoker', '0':'non-smoker' is a mapping, then
                   'show stats' will show 'smoker/non-smoker' instead of 
                   '0/1'">
    Attributes:
     </label>
     <ul id="attributes">
       {% if length(content) == 0 %}
          <li>
             <input id="id" placeholder="new attribute" value="">
             <span class="mod_elem" onclick="del_elem('attributes',1)">-</span>
             <span class="mod_elem" onclick="add_elem('attributes',1)">+</span>
          </li>

       {% else %}
         {% for attr in default(content, []) %}
           <li>
             <input id="id" placeholder="original" value="{{ attr }}">
             <span class="mod_elem" onclick="del_elem('attributes',{{loop.index}})">-</span>
             <span class="mod_elem" onclick="add_elem('attributes',{{loop.index}})">+</span>
           </li>
         {% endfor %}
       {% endif %}
     </ul>
   </li>

   {{ log("rendered attributes") }}

{% include "temp_footer" %}
