{% include "temp_header" %}

  {{ log("rendered header") }}

	<li custom="list">
		<label>All attributes</label>
		<ul id="attributes">
			{% for attribute in content %}
    		<li custom="get:object">
          <a class="abstract" onclick="EditItem('attributes', this.parentNode)" title='{{attribute}}'>
						{{default(attribute.name, "")}} (category: {{default(attribute.category, "")}})
					</a>
          <span 
            class="mod_elem" onclick="EditItem('attributes', this.parentNode)"
          ><i>edit</i></span>
          <span 
            class="mod_elem" onclick="DeleteItem('attributes', this.parentNode)" title="delete element"
          >-</span>
          <span 
            class="mod_elem" onclick="AddItem('attributes', this.parentNode)" title="add element"
          >+</span>
          <input style="display: none;" custom="json" value='{{attribute}}'/>
      	</li>
			{% endfor %} 
		</ul>
	</li>

{% include "temp_footer" %}

{{ log("creating default listener") }}

<li custom="get:object" id="attributes_default" style="display: none;">
  <a class="abstract" onclick="EditItem('attributes', this.parentNode)" title='{}'>
    ???
  </a>
  <span class="mod_elem" onclick="EditItem('attributes', this.parentNode)"><i>edit</i></span>
  <span class="mod_elem" onclick="DeleteItem('attributes', this.parentNode)" title="delete element">-</span>
  <span class="mod_elem" onclick="AddItem('attributes', this.parentNode)" title="add element">+</span>
  <input style="display: none;" custom="json" value="{}" />
</li>

{{ log("done creating default listener") }}
