{% include "temp_header" %}
{{ log("rendered header") }}

  <li custom="map">
     <label title="Add default game music for certain contexts">
      Music
     </label>

    <ul id="music">
      <li custom="key_value">
          <label>background</label>
          <input id="background" value={{ default(content.background, "") }}>
      </li>
      <li custom="key_value">
          <label>Fight</label>
          <input id="fight" value={{ default(content.fight, "") }}>
      </li>
    </ul>
  </li>

   {{ log("rendered music-config") }}

{% include "temp_footer" %}
