<ul id="description">
  {% for desc in default(description, [{"speaker":"", "text":"", "logic":"",
  "updates":{}, "pre_pEvents":[""], "pre_otEvents":[""], "post_pEvents":[""],
  "post_otEvents":[""]}]) %}
    <li id="li_description_{{loop.index}}" custom="list_object">
      <ul id="description_{{loop.index}}">
        <li>
          <label>Speaker:</label>
          <input id="speaker" placeholder="speaker"
          value="{{default(desc.speaker, "")}}">
        </li>
        <li>
          <label>Text:</label>
          <textarea id="text">{{desc.text}}</textarea></li>
       	</li>

        <li id="optional" class="full_length" style="display: none;">
          <label>Music:</label>
          <input id="music" placeholder="music" value={{default(desc.music,"")}}>
        </li>

        </li>
        <li id="optional" class="full_length" style="display: none;">
          <label>Image:</label>
          <input id="image" placeholder="image" value={{default(desc.image,"")}}>
        </li>

        <li id="optional" class="full_length" style="display: none;">
          <label>Logic:</label>
          <input id="logic" placeholder="logic" value="{{default(desc.logic, "")}}" onclick="OpenLogicDialog(this);">
        </li>

					{% set _id = "updates" %}
					{% set _updates = default(desc.updates, []) %}
					{% include "web/element_templates/updates" %}

					{% set _id = "pre_pEvents" %}
					{% set _events = default(desc.pre_pEvents, [""]) %}
  				{% include "web/element_templates/events" %}

					{% set _id = "pre_otEvents" %}
					{% set _events = default(desc.pre_otEvents, [""]) %}
  				{% include "web/element_templates/events" %}

					{% set _id = "post_pEvents" %}
					{% set _events = default(desc.post_pEvents, [""]) %}
  				{% include "web/element_templates/events" %}

					{% set _id = "post_otEvents" %}
					{% set _events = default(desc.post_otEvents, [""]) %}
  				{% include "web/element_templates/events" %}

      </ul>
      <div id="description_div_text_expand_{{loop.index}}" class="expand">
        <span title="Delete this element." 
          onclick="del_elem('description',{{loop.index}})">-</span>
        <span 
					id="description_text_expand_{{loop.index}}" 
          title="Expand optional values." 
					onclick="expand('description',{{loop.index}})"
				>
					<i class="material-icons">arrow_drop_down</i>
				</span>
        <span title="Add new element here." 
              onclick="add_elem('description',{{loop.index}})">+</span>
      </div>
    </li>
  {% endfor %}
</ul>
