{% include "temp_header" %}

  {{ log("rendered header") }}

  <!-- Name and ID (default value for non-set-values) -->
  <li><label>Name:</label><input id="name" value="{{ default(name, "") }}">
  <li><label>Id:</label><input id="id" value="{{ default(id, "") }}">
  <li><label>Look:</label><input id="look" value="{{ default(look, "") }}">

  {{ log("rendered basic attributes") }}

  <!-- Description (added by include) expand non-set optional values -->
  <li custom="list">
    <label>Description:</label> 
    {% include "temp_description" %}
  </li>

  {{ log("rendered description") }}
  
  <!-- Items (default value for non-set-values)  -->
  <li custom="list">
    <label>Items:</label>
    <ul id="items">
      {% for item in default(items, [["", {}]]) %}
        <li custom="list">
          <input placeholder="item id" value={{item.0}}>
          <input custom="json" placeholder="custom attributes" value={{item.1}}>
          <span class="mod_elem" onclick="del_elem('items',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('items',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>
  
  {{ log("rendered items") }}

  <!-- Default items(default value for non-set-values) -->
  <li id="defaultItems" custom="just_object">
    <label title="Select items to automatically be added.">Default Items:</label>
    <br>
    <label title="Total value of all items randomly added">Total value:</label>
    <input id="value" custom="int" placeholder="total value" value="{{
               default(defaultItems.value, "0") }}">
    <br>
    <label title='F.e. ["drug","philosophie"]'>Item Types:</label>
    <input class="long" id="types" custom="json" placeholder="item types" 
                                                 value={{ default(defaultItems.types, "[]") }}>
    <br>
    <label title='F.e. ["others","consume"]'>Item Categories:</label>
    <input class="long" id="categories" custom="json" placeholder="item categories" value={{
        default(defaultItems.categories, "[]") }}>
  </li>

  {{ log("rendered defaultItems") }}

{% include "temp_footer" %}
