      
    </ul>
  
    <dialog id="edit_dialog" class="edit_dialog"> 
      <div id="edit_content" class="edit_content"></div>
      <br><br>
      <button class="pure-button" onclick="SaveItem()">Save</button>
      <button class="pure-button" onclick="CloseDialog('edit_dialog');">Omit</button><br>
      <br><br>
    </dialog>

    <dialog id="handler_args_dialog" class="event_dialog"> 
      <div class="edit_content">
				<h4>Arguments</h4>
				<br>
      	<form id="handler_args_content" disabled="disabled">
				</form>
			</div>
      <br><br>
      <button class="pure-button" onclick="SaveHandlerArgs()">Save</button>
      <button class="pure-button" onclick="CloseDialog('handler_args_dialog');">Omit</button><br>
      <br><br>
    </dialog>

    <dialog id="event_dialog" class="event_dialog"> 
      <div class="edit_content">
				<h4>Arguments</h4>
				<br>
				<select id="cmd" autocomplete="off" onchange="SetEventDialog(this.value);">
					<option {% if default(cmd, "") == "" %} selected {% endif %}></option>
					{% for availibe_command in __availibe_commands %}
						<option {% if availibe_command==default(cmd, "") %} selected {% endif %}>
							{{availibe_command}}
						</option>
					{% endfor %} 
				</select>
      	<form id="event_content" disabled="disabled">
				</form>
			</div>
      <br><br>
      <button class="pure-button" onclick="SaveEvent()">Save</button>
      <button class="pure-button" onclick="CloseDialog('event_dialog');">Omit</button><br>
      <br><br>
    </dialog>

		<dialog id="logic_dialog" class="event_dialog">
			<div class="edit_content">
				<h4>Logic</h4>
				<br>
				<input class="long_inp" id="logic_builder">
				<br>
				<table>
					<tr>
						<td>
							<select id="logic_type" onchange="SetupLogicDialog();" autocomplete="off">
								<option value="attribute">Attribute</option>
								<option value="room">Room</option>
								<option value="last_room">Last Room</option>
								<option value="item">in inventory: item</option>
								<option value="room_item">in inventory: room-item</option>
							</select>
						</td>
						<td>
							<select id="logic_substitute" autocomplete="off">
								{% for attribute_id, attribute_name in _attributes %} 
									<option value={{attribute_id}}>{{attribute_name}}</option>
								{% endfor %} 
							</select>
						</td>
						<td>
							<select id="logic_operand" autocomplete="off">
								<option value="=">Equals</option>
								<option value="<">Smaller</option>
								<option value=">">Greater</option>
								<option value="~">Fuzzy</option>
								<option value=":">Contains</option>
							</select>
						</td>
						<td>
							<select id="sel_logic_value" style="display: none;"autocomplete="off"></select>
						</td>
						<td><a class="link" onclick="AddToLogic()">apply</a></td>
					</tr>
					<tr>
						<td></td> <td></td> <td></td>
						<td><input id="str_logic_value" style="display: none;"></input></td>
					</tr>
					<tr>
						<td></td> <td></td> <td></td>
						<td><input id="num_logic_value" type="number"></input></td>
					</tr>
				</table>
			</div>
      <button class="pure-button" onclick="SaveLogic()">Save</button>
      <button class="pure-button" onclick="CloseDialog('logic_dialog');">Omit</button><br>
      <br><br>
    </dialog>

    <button id="write" class="pure-button" 
        onclick="OpenWriteModal('{{default(name, id)}}')">Write</button>
    </div>
    </div>

    <div id="tab_graph" style="display: none">
      <h2>Graph-view</h2>
      <div id="cy"></div>
    </div>

    <div id="tab_notes" style="display: none">
      <h2>Notes</h2>
      <div contenteditable="true" id="notes" class="notes" style="display: block"></div>
      <br>
      <div id="notes_md" class="markdown" style="display: none"></div>
      <br>
      <button id="write" class="pure-button" onclick="SetNotes()">Write</button>
    </div>

  </div>
  </div>


    <div id="modal_write" class="modal">
      <div class="modal2-content">
        <span class="close" id="close_modal" onclick="CloseWriteModul()">&times;</span>
        <div class="content_center">
          <div class="item"><p id="check_msg" elem_json=""></div>
          <div class="scroll_content">
            <div class="item" style="text-align: left;"><pre id="display_json"></div>
          </div>
          <div class="item"><button type="button" class="pure-button" id="btn_del_elem"
                                     onclick="WriteElem()">Confirm</button></div>
          <br>
        </div>
      </div>
    </div>

    
    <div id="modal_log" class="modal">
      <div class="modal2-content">
        <span class="close" id="close_modal" onclick="CloseModul()">&times;</span>
        <div class="content_center">
          <div class="item"><p id="check_msg_log"></div>
          <div class="scroll_content" id="log_div">
            <div class="item" style="text-align: left;"><pre id="display_log"></div>
          </div>
          <div class="item"><button type="button" class="pure-button" id="get_log"
                                     onclick="get_log('write')">Show Log</button></div>
          <br>
          <div class="item">
              <button type="button" 
                      class="pure-button"
                      id="force_write" 
                      style="display: none"
                      onclick="WriteElem(false, true)">
                   Force 
              </button>
          </div>
        </div>
    </div>
</body>
