{% include "temp_header" %}
  
  <li><label>Name:</label><input id="name" value="{{ default(name, "") }}"></li>
  <li><label>Id:</label><input id="id" value="{{ id }}"></li>

  <li custom="list">
    <label>Description</label>
    {% include "temp_description" %} 
  </li>

  <li custom="list">
    <label>Use Description</label>
    {% include "temp_use_description" %} 
  </li>

  <li><label>Category:</label><input id="category" value="{{ default(category,"")}}"></li>
  <li><label>Type:</label><input id="type" value="{{ default(type,"") }}"></li>
  <li><label>Effekt:</label><input id="effekt" custom="int" value="{{ default(effekt,"")}}"></li>
  <li><label>Value:</label><input id="value" custom="int" value="{{ default(value,"")}}"></li>

  {% if default(category, "") == "read" %}
  <li custom="list">
    <label>Pages</label>
    {% include "temp_pages" %}
  </li>
  {% endif %}

{% include "temp_footer" %}
