{% include "temp_header" %}
  
  {{ log("rendered header") }}

  <li><label>Name:</label><input id="name" value="{{ default(name, "") }}"></li>
  <li><label>Id:</label><input id="id" value="{{ id }}"></li>

  {{ log("rendered name and id") }}

  <li custom="list">
    <label>Description</label>
    {% include "temp_description" %} 
  </li>

  {{ log("rendered description") }}

  <li custom="list">
    <label>Use Description</label>
    {% include "temp_use_description" %} 
  </li>

  {{ log("rendered use description") }}

  <li>
		<label>Category:</label>
		<select 
      id="category" 
      onchange="ChangeItemKindSelect(event.target.value);"
      autocomplete="off"
    > 
			{% for cat, cat_name in __categories %}
        <option 
          value={{cat}}
          {% if default(category, "") == cat %}selected{% endif %}
        >
          {{cat_name}}
        </option>
			{% endfor %}
		</select>
	</li>

  {{ log("rendered category ") }}

  <li>
		<label>Kind:</label>
    {% for cat, kinds in __kinds %} 
      <select 
        from_cat="{{cat}}"
        id="kind" 
        {% if cat!=default(category, "") %}hidden{% endif %}
        autocomplete="off"
      >
        {% for k in kinds %}
          <option {% if default(kind, "") == k %}selected{% endif %}>{{k}}</option>
        {% endfor %}
      </select>
    {% endfor %}
	</li>

  {{ log("rendered kind ") }}

  <li>
		<label>Type:</label>
		<select id="type" autocomplete="off"> 
			{% for type in __types %}
				<option {% if default(type, "") == type %}selected{% endif %}>{{type}}</option>
			{% endfor %}
		</select>
	</li>

  {{ log("rendering item updates ") }}

  {% set _not_optional = true %}
  {% set _updates = default(updates, []) %}
  {% include "web/element_templates/updates" %}
  {% set _not_optional = false %}

  {{ log("rendered item updates ") }}

  <li custom="map" title="Costs can be any and multiple attributes">
		<label>Costs:</label>
		<ul id="costs">
			{% for key, value in default(costs, {"":0}) %} 
			<li custom="pair">
				<select autocomplete="off"> 
					{% for attribute_id, attribute_name in __attributes %}
            <option 
              value={{attribute_id}}
              {% if key == attribute_id %}selected{% endif %}
            >
              {{attribute_name}}
            </option>
					{% endfor %}
				</select>
				<input 
					type="number"
					class="short" 
					custom="int" 
					value="{{default(value, 0)}}"
				>
				<span class="mod_elem" onclick="del_elem('costs', {{loop.index}})">-</span>
				<span class="mod_elem" onclick="add_elem('costs', {{loop.index}})">+</span>
			</li>
			{% endfor%} 
		</ul>
	</li>

  {{ log("rendered attributes") }}

  {% if default(category, "") == "read" %}
  <li custom="list">
    <label>Pages</label>
    {% include "temp_pages" %}
  </li>
  {% endif %}

  {{ log("rendered pages") }}

{% include "temp_footer" %}
