{% include "temp_header" %}

  {{ log("rendered header") }}

  <!-- Name and ID (default value for non-set-values) -->
	<li><label>Name:</label><input id="name" value="{{ default(name, "") }}"></li>
	<li><label>Id:</label><input id="id" value="{{ default(id, "") }}"></li>
  <li>
		<label style="width:auto">Description:</label>
    <input style="width:40em" id="description" value="{{default(description, "") }}">
	</li>

  <li title="Quest succes-checks will not be done, as long as quest is not set to active.">
		<label>Online from beginning:</label>
		<input 
			id="online" type="checkbox" custom="bool"
			{%- if default(online, true) -%}checked{%- endif -%}
		>
  </li>

  <li title="No success messages will be print if silent set to true">
		<label>Silent:</label>
		<input 
			id="silent" type="checkbox" custom="bool"
			{%- if default(silent, false) -%}checked{%- endif -%}
		>
  </li>


  {% set _not_optional = true %}
	{% set _id = "updates" %}
  {% set _updates = default(updates, []) %}
  {% include "web/element_templates/updates" %}
  {% set _not_optional = false %}

  <li><label style="width:auto" title="List of steps, which are active from beginning"
      custom="json">Active from beginning:</label>
        <input id="active_from_beginning" custom="json" style="width:20em;" 
                                        value={{default(active_from_beginning,[]) }}>

  {{ log("rendered basic attributes") }}

  <!-- Listeners -->
  {% include "web/element_templates/listeners" %}

  {{ log("rendered listeners") }}

  <!-- (default value for non-set-values) -->
  <li custom="list">
    <label>Steps:</label>
    <ul id="steps">
      {% for step in default(steps, [{}]) %}
        <li custom="object">
          <label style="width:auto">Id:</label>
          <input style="width:10em" id="id" placeholder="id" value="{{default(step.id, "")}}">
          <br>
          <label style="width:auto">Name:</label>
          <input class="long_inp" id="name" placeholder="name" 
            value="{{default(step.name, "")}}">
          <br>
          <label style="width:10em">Description</label>
          <input style="width:20em" id="description" placeholder="description"
              value="{{default(step.description, "")}}">
          <br>
          <label style="width:10em" title="Here you can set (if you are not using a 
                      custom function anyway), what is needed succeed step.">Logic</label>
          <input style="width:20em" id="logic" placeholder="logic", 
              value="{{default(step.logic,"")}}">
          <br>
          <label style="width:10em" title="Events/ commands executed after success message."
                  >Post Events</label>
          <input style="width:20em" id="events" placeholder="events" 
              value="{{default(step.events, "")}}">
          <br>

          <label style="width:10em" title="Events/ commands executed before success message."
            >Pre Events</label>
          <input style="width:20em" id="_events" placeholder="pre events" 
                    value="{{default(step._events, "")}}">
          <br>
          <label style="width:10em" title="json of attributes/ minds to update after
                        success">Updates</label>
          <input style="width:20em" id="updates" custom="json" placeholder="updates"  
                                                value={{ default(step.updates, {}) }}>
          <br>
          <label style="width:10em"  title="List of steps to set active, when this step is
                        done.">Linked Steps</label>
          <input style="width:20em" id="linkedSteps" custom="json" placeholder="linkedSteps"  
                              value={{ default(step.linkedSteps, []) }}>
          <br>
          <div style="text-align: center">
            <span title="Delete this element" class="mod_elem" 
              onclick="del_elem('steps',{{loop.index}})">-</span>
            <span title="Add a new element here" class="mod_elem" 
                        onclick="add_elem('steps',{{loop.index}})">+</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </li>

  {{ log("rendered steps") }}
  
{% include "temp_footer" %}
