{% include "temp_header" %}

  {{ log("rendered header") }}

  <!-- Name and ID (default value for non-set-values -->
  <li><label>Name:</label><input id="name" value="{{ default(name, "") }}"></li>
  <li><label>Id:</label><input id="id" value="{{ id }}"></li>


  <li>
    <label>music:</label>
    <input id="music" placeholder="music" title="no fileextension!" 
        value="{{ default(music, "") }}">
  </li>
  <li>
    <label>image:</label>
    <input id="image" placeholder="image" title="no fileextension!" 
        value="{{ default(image, "") }}">
  </li>
  {{ log("rendered name,id, image and music") }}

  <!-- Description (added by include) expand non-set optional values -->
  <li custom="list">
    <label>Description:</label> 
    {% include "temp_description" %}
  </li>

  {{ log("rendered description") }}

  <!-- Exits (default value for non-set-values) -->
  <li custom="map">
    <label>Exits:</label>
    <ul id="exits">
      {% for key, val in default(exits, {"": {}}) %}
        <li custom="key_object">
          <input id="id" placeholder="linked_room id" value="{{ key }}">
          <input id="name"placeholder="name" value="{{ default(val.name, "") }}">
          <input id="prep" placeholder="preposition" class="short"
              value="{{default(val.prep,"")}}">
          <input id="hidden" placeholder="hidden" class="short" custom="bool"
          {% if default(val.hidden, 0) == 0) %} 
            value="no" 
          {% else %} 
            value="yes" 
          {% endif %}
              title="If true room does not exists until activated with 'addExist' event"
          >
          <span class="mod_elem" onclick="del_elem('exits',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('exits',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>

  {{ log("rendered exits") }}

  <!-- Characters (default value for non-set-values) -->
  <li custom="list">
    <label>Characters:</label>
    <ul id="characters">
      {% for char in default(characters, [["", {}]]) %}
        <li custom="list">
          <input id="id" placeholder="character id" value={{char.0}}>
          <input id="attributes" custom="json" placeholder="custom attributes" value={{char.1}}>
          <span class="mod_elem" onclick="del_elem('characters',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('characters',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>
    
  {{ log("rendered characters") }}

  <!-- Details (default value for non-set-values) -->
  <li custom="list">
    <label>Details:</label>
    <ul id="details">
      {% for detail in default(details, [["", {}]]) %}
        <li custom="list">
          <input id="id" placeholder="detail id" value={{detail.0}}>
          <input id="attribues" custom="json" placeholder="custom attributes" value={{detail.1}}>
          <span class="mod_elem" onclick="del_elem('details',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('details',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>

  {{ log("rendered details") }}

  <!-- Items (default value for non-set-values) -->
  <li custom="list">
    <label>Items:</label>
    <ul id="items">
      {% for item in default(items, [["", {}]]) %}
        <li custom="list">
          <input placeholder="item id" value={{item.0}}>
          <input custom="json" placeholder="custom attributes" value={{item.1}}>
          <span class="mod_elem" onclick="del_elem('items',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('items',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>
  
  {{ log("rendered items") }}

  <!-- Handlers (default value for non-set-values) -->
  <li custom="list">
    <label>Handlers:</label>
    <ul id="listeners">
      {% for listener in default(listeners, [{}]) %}
        <li custom="object">
          <label class="small" title="unique identifier (used for deleteting listener)">ID:</label>
          <input id="id" placeholder="id" value="{{default(listener.id,"")}}" >
          <br>
          <label class="small" title="handler called when listener is triggered">Handler::</label>
          <input id="handler" placeholder="handler" value="{{default(listener.handler,"")}}">
          <br>
          <label class="small" title="Attributes needed to to trigger event (seperated with '|').
              See doku for which attributes or needed for specific events."
            >Attributes: </label>
          <input 
            class="long_inp" id="event_attributes" placeholder="event attributes" 
            value="{{default(listener.event_attributes,"")}}"
          >
          <br>
          <label class="small" title="Command on which to listen">Command</label>
          <input id="cmd" placeholder="command" value="{{default(listener.cmd, "")}}">
          <label class="small" title="Target of event f.e. for input 'pick up
                fruits', <pick> is the command and <fruits> is the target." 
            >Target</label>
          <input id="target" placeholder="target" value="{{default(listener.target,"")}}">
          <br>
          <label class="small" title="Specify priority">Priority</label>
          <input 
              class="short" id="priority" placeholder="priority" 
              custom="int" value="{{default(listener.priority, 0)}}"
          >
          <label class="small" title="Overwrite context/handler permeability.">Permeable</label>
          <input 
              class="short" id="permeable" placeholder="permeable" 
              custom="int" value="{{default(listener.permeable, -1)}}"
          >
          <label class="small" title="Delete listener after trigger.">Auto Delete</label>
          <input 
              class="short" id="delete" placeholder="delete" 
              custom="int" value="{{default(listener.delete, 0)}}"
          >
          <br>
          <label class="small" title="Specify regex match">Regex match position</label>
          <input 
              class="short" id="pos" placeholder="pos" 
              custom="int" value="{{default(listener.pos, 0)}}"
          >
          <label class="small" title="interpret command as regex expression.">Regex?</label>
          <input 
              class="short" id="regex" placeholder="regex?" 
              custom="int" value="{{default(listener.regex, 0)}}"
          >
          <span class="mod_elem" onclick="del_elem('listeners',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('listeners',{{loop.index}})">+</span>
          <br>
          <br>
        </li>
      {% endfor %}
    </ul>
  </li>

  {{ log("rendered handler") }}
  
{% include "temp_footer" %}
