{% include "temp_header" %}

  {{ log("rendered header") }}

  <!-- Name and ID (default value for non-set-values -->
  <li><label>Name:</label><input id="name" value="{{ default(name, "") }}"></li>
  <li><label>Id:</label><input id="id" value="{{ id }}"></li>


  <li>
    <label>music:</label>
    <input id="music" placeholder="music" title="no fileextension!" 
        value="{{ default(music, "") }}">
  </li>
  <li>
    <label>image:</label>
    <input id="image" placeholder="image" title="no fileextension!" 
        value="{{ default(image, "") }}">
  </li>
  {{ log("rendered name,id, image and music") }}

  <!-- Description (added by include) expand non-set optional values -->
  <li custom="list">
    <label>Description:</label> 
    {% include "web/object_templates/temp_description" %}
  </li>

  {{ log("rendered description") }}

  <!-- Exits (default value for non-set-values) -->
  <li custom="map">
    <label>Exits:</label>
    <ul id="exits">
      {% for key, val in default(exits, {"": {}}) %}
        <li custom="key_object">
          <input id="id" placeholder="linked_room id" value="{{ key }}">
          <input id="name"placeholder="name" value="{{ default(val.name, "") }}">
          <input id="prep" placeholder="preposition" class="short"
              value="{{default(val.prep,"")}}">
          <input id="hidden" placeholder="hidden" class="short" custom="bool"
          {% if default(val.hidden, 0) == 0) %} 
            value="no" 
          {% else %} 
            value="yes" 
          {% endif %}
              title="If true room does not exists until activated with 'addExist' event"
          >
          <span class="mod_elem" onclick="del_elem('exits',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('exits',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>

  {{ log("rendered exits") }}

  <!-- Characters (default value for non-set-values) -->
  <li custom="list">
    <label>Characters:</label>
    <ul id="characters">
      {% for char in default(characters, [["", {}]]) %}
        <li custom="list">
          <input id="id" placeholder="character id" localize=false value={{char.0}}>
          <input id="attributes" custom="json" placeholder="custom attributes" value={{char.1}}>
          <span class="mod_elem" onclick="del_elem('characters',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('characters',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>
    
  {{ log("rendered characters") }}

  <!-- Details (default value for non-set-values) -->
  <li custom="list">
    <label>Details:</label>
    <ul id="details">
      {% for detail in default(details, [["", {}]]) %}
        <li custom="list">
          <input id="id" placeholder="detail id" localize="false" value={{detail.0}}>
          <input id="attribues" custom="json" placeholder="custom attributes" value={{detail.1}}>
          <span class="mod_elem" onclick="del_elem('details',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('details',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>

  {{ log("rendered details") }}

  <!-- Items (default value for non-set-values) -->
  <li custom="list">
    <label>Items:</label>
    <ul id="items">
      {% for item in default(items, [["", {}]]) %}
        <li custom="list">
          <input placeholder="item id" value={{item.0}}>
          <input custom="json" placeholder="custom attributes" value={{item.1}}>
          <span class="mod_elem" onclick="del_elem('items',{{loop.index}})">-</span>
          <span class="mod_elem" onclick="add_elem('items',{{loop.index}})">+</span>
        </li>
      {% endfor %}
    </ul>
  </li>
  
  {{ log("rendered items") }}

  <!-- Listeners -->
  {% include "web/element_templates/listeners" %}

  {{ log("rendered listeners") }}

{% include "temp_footer" %}
