<h2>Attribute: {{default(id, "")}}</h2>
<table class="center">

  <tr>
    <td>
      <label class="small" title="Unique identifier">ID:</label>
    </td>
    <td>
			<input id="id" placeholder="id" value="{{default(id,"")}}">
    </td>
  <tr>

  <tr>
    <td>
      <label class="small" title="Visible name of attribute">Name:</label>
    </td>
    <td>
			<input id="name" placeholder="name" value="{{default(name,"")}}">
    </td>
  <tr>

  <tr>
    <td>
      <label class="small" title="Category attribute belongs to. Categories
				define f.e. whether a attribute is skillable.">Category:</label>
    </td>
    <td>
      <input 
				id="category" 
				placeholder="category"
				value="{{default(category,"")}}" 
				list="typeahead_attribute_categories"
			>
			<datalist id="typeahead_attribute_categories">
				{% for category in __attribute_categories %}
					<option>{{category}}</option>
				{% endfor %}
			</datalist>
    </td>
  <tr>

  <tr>
    <td><label class="small" title="Default value">Default Value</label></td>
    <td>
      <input 
        type="number"
        class="short" 
        id="default_value" 
        placeholder="default value" 
        custom="int" 
        value="{{default(default_value, 0)}}"
      >
    </td>
  <tr>

  <tr>
    <td><label class="small" title="upper bound for this attribute">Upper Bound: </label></td>
    <td>
      <input 
        type="number"
        class="short" 
        id="upper_bound" 
        placeholder="upper bound" 
        custom="int" 
        value="{{default(upper_bound, 0)}}"
      >
    </td>
    <td>
      <input 
        id="upper_bound_enable" 
        type="checkbox" 
        custom="bool" 
        {% if default(upper_bound_enable, 0) %} checked {% endif %}
      >
    </td>
  <tr>

  <tr>
    <td><label class="small" title="limit">Past-Upper Events: </label></td>
    <td>
      {% set _not_optional = true %}
      {% set _id = "upper_events" %}
      {% set _events = default(upper_events, [""]) %}
      {% include "web/element_templates/events" %}
      {% set _not_optional = false %}
    </td>
  </tr>

  <tr>
    <td><label class="small" title="limit with events executed for Opponents in
				fight.">Past-Upper Opponent Events: </label></td>
    <td>
      {% set _not_optional = true %}
      {% set _id = "upper_opponent_events" %}
      {% set _events = default(upper_opponent_events, [""]) %}
      {% include "web/element_templates/events" %}
      {% set _not_optional = false %}
    </td>
  </tr>

  <tr>
    <td><label class="small" title="lower bound for this attribute">Lower Bound: </label></td>
    <td>
      <input 
        type="number"
        class="short" 
        id="lower_bound" 
        placeholder="lower bound" 
        custom="int" 
        value="{{default(lower_bound, 0)}}"
      >
    </td>
    <td>
      <input 
        id="lower_bound_enable" 
        type="checkbox" 
        custom="bool" 
        {% if default(lower_bound_enable, 0) %} checked {% endif %}
      >
    </td>
  <tr>

  <tr>
    <td><label class="small" title="limit">Past Lower Events: </label></td>
    <td>
      {% set _not_optional = true %}
      {% set _id = "lower_events" %}
      {% set _events = default(lower_events, [""]) %}
      {% include "web/element_templates/events" %}
      {% set _not_optional = false %}
    </td>
  </tr>

  <tr>
    <td><label class="small" title="limit with events executed for Opponents in
				fight.">Past-Lower Opponent Events: </label></td>
    <td>
      {% set _not_optional = true %}
      {% set _id = "lower_opponent_events" %}
      {% set _events = default(lower_opponent_events, [""]) %}
      {% include "web/element_templates/events" %}
      {% set _not_optional = false %}
    </td>
  </tr>

</table>
